@import "tailwindcss";

@import "@fontsource/roboto";
@import "@fontsource/poppins";
@import "@fontsource/nunito";
@import "@fontsource/comfortaa";
@import "@fontsource/raleway";
@import "@fontsource/playfair-display";

@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-comfortaa: "Comfortaa", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-playfair: "Playfair Display", serif;
}