@import "tailwindcss";

@import "@fontsource/roboto";
@import "@fontsource/poppins";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/900.css";
@import "@fontsource/nunito";
@import "@fontsource/comfortaa";
@import "@fontsource/raleway";
@import "@fontsource/playfair-display";

@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-comfortaa: "Comfortaa", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --color-brand-yellow: #FDC435;
    --color-brand-black: #000000;
    --color-brand-gray-black: #25282B;
    --color-brand-gray: #828282;
    --color-background: #f9faff;

}